// make icon size : icon-xs sm md lg
// make font-size : font-xs smd md lg

@each $name, $value in $font-sizes {
	.icon-#{$name} {
		height: $value;
		width: $value;
	}
	.font-#{$name} {
		font-size: $value;
	}
}
