.logo-text {
	@include merge_class(ml-3, mt-1, light, text-uppercase, font-weight-bold);
	font-family: $font-family-orbitron;
	letter-spacing: 2px;
}

.main-entries{
	@include merge_class(mx-2, row);
	.main-entry{
		@include merge_class(flex, align-items-center, ml-2);
	}
	.main-entry-link {
		@include font-size($font-size-sm);
		@include merge_class(py-1);
	}
	.main-entry-dot {
		@include merge_class(mx-2);
		@include make-circle($main-entry-dot-radius, $main-entry-dot-color);
	}
}

.header-icon {
	@include font-size($font-size-lg);
	@include hover(){
		cursor: pointer;
	}
}
