#app {
	@include merge_class(flex-row, justify-content-center);
	background-color: $app-background-color;
	background-image: $app-background-image;
	background-attachment: fixed;
}

.content-wrapper {
	padding-left: $sidebar-width;
	@include merge_class(w-100);
	background-color: $content-wrapper-background-color;
}

#APP-SIDEBAR {
	@include merge_class(flex-column, position-fixed, t-0, h-100);
	@include transition($sidebar-transition);
	width: $sidebar-width;
	background-color: $sidebar-background-color;
	border-right: $sidebar-border-right;
	z-index: $sidebar-z-index;
	@include hover(){
		@include merge_class(w-10, shadow-lg);
		width: $sidebar-hover-width;
	}
}

#APP-HEADER {
	@include merge_class(flex, justify-content-center, px-5, shadow);
	height: $header-height;
	background-color: $header-background-color;
	border-bottom: $header-border-bottom;
}

#APP-FOOTER {
	height: $footer-height;
	background-color: $footer-background-color;
}

#APP-BANNER {
	height: $banner-height;
	background-color: $banner-background-color;
	border-bottom: $banner-border-bottom;
}

#APP-MAIN-CONTENT {
	@include merge_class(ml-5, mr-3);
	background-color: $main-content-background-color;
	margin-top: $main-content-margin-top;
	margin-bottom: $main-content-margin-bottom;
	min-height: $main-content-min-height;
	border-radius: $main-content-border-radius;
}
