#app {
	@include merge_class(flex-row, justify-content-center);
	background-color: $app-background-color;
	background-image: $app-background-image;
	background-attachment: fixed;
}

.content-wrapper {
	padding-left: $sidebar-width;
	@include merge_class(w-100);
	background-color: $content-wrapper-background-color;
}

#APP-HEADER {
	@include merge_class(d-flex, justify-content-center, px-5, shadow);
	height: $header-height;
	background-color: $header-background-color;
	border-bottom: $header-border-bottom;
}

#APP-SIDEBAR {
	@include merge_class(flex-column, position-fixed, t-0, h-100);
	z-index: $sidebar-z-index;
	@include transition($sidebar-transition);
	background-color: $sidebar-background-color;
}

#APP-FOOTER {
	height: $footer-height;
	background-color: $footer-background-color;
}

#APP-BANNER {
	height: $banner-height;
	background-color: $banner-background-color;
	border-bottom: $banner-border-bottom;
}

#APP-MAIN-CONTENT {
	@include merge_class(ml-5, mr-3);
	background-color: $main-content-background-color;
	margin-top: $main-content-margin-top;
	margin-bottom: $main-content-margin-bottom;
	min-height: $main-content-min-height;
	border-radius: $main-content-border-radius;
}

// 右侧滑动显示内容区域
#APP-VIEWER {
	z-index: $zindex-fixed;
	max-width: $viewer-max-width;
	transition: $viewer-transition;
	&.show {
		transform: translateX(0);
	}
	&.hide {
		transform: translateX(100%);
	}
}
