.x-label {
	transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
	transform-origin: top left;
	transform: translate(0, 0);
}

.x-text-field {
	&:before {
    position: absolute;
		bottom: -1px;
    content: "";
    left: 0;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
		border-style: solid;
    border-width: thin 0 0 0;
		border-color: currentColor;
	}
	&:after {
    content: "";
		border-color: currentColor;
    border-style: solid;
    border-width: thin 0 thin 0;
    transform: scaleX(0);
		bottom: -1px;
    left: 0;
    position: absolute;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
	}
	&.active { .x-label {
				transform: translateY(-70%) scale(0.7);
		}
		&:after {
			transform: scaleX(1);
		}
	}
}


