$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1540
) !default;
@include _assert-ascending($breakpoints, "$breakpoints");
@include _assert-starts-at-zero($breakpoints, "$breakpoints");

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1440
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

$columns:					12 !default; 
$row-columns: 		6 !default;
$gutter-width:		30px !default;


//
// Utilities
//

// Display overflow position
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;

// Spacing for margin padding and so on
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*`  `.w-*` and. t-*, b-*, l-*, r-* classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
		15: 15%,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);
