.container {
	@include make-container();
	@include make-container-max-widths();
}

.container-fluid {
	@include make-container();
}

/**
 *.container-sm 屏幕宽度大于576 使用 .container 的样式, 屏幕宽度小于576使用 .container-fluid 的样式
 */
@each $breakpoint, $container-max-width in $container-max-widths {
	.container-#{$breakpoint}{
		@extend .container-fluid;
	}

	@include media-breakpoint-up($breakpoint, $breakpoints){
		%responsive-container-#{$breakpoint} {
			max-width: $container-max-width;
		}
		@each $name, $width in $breakpoints {
			@if $container-max-width > $width or $breakpoint == $name {
				.container#{breakpoint-infix($name, $breakpoints)}{
					@extend %responsive-container-#{$breakpoint};
				}
			}
		}
	}
}

.row {
	@include make-row();
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;

	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}
