// color
$primary:  #15363e;
$light: rgb(45, 126, 177);
$light-green: rgb(47, 120, 138);
$lighter: rgb(65, 199, 189);

$theme-colors: (
	"primary": $primary,
	"light": $light,
	"light-green": $light-green,
	"lighter": $lighter
) !default;


$body-color: rgb(123, 143, 144); 

// font-family
$font-family-orbitron:  Orbitron, cursive, Helvetica;

// selection-background
$selection-background-color: rgb(131, 148, 150) !important;

// Spacing
$spacer: 1rem !default;
$spacers: (
	6: ($spacer * 6),
	7: ($spacer * 12)
) !default;

// Sizing
$sizes: (
	0: 0,
	5: 5%,
	10: 10%,
	70: 70%
) !default;

$font-sizes: (
	xs:  .5rem,
	sm:  .8rem,
	bs:  1rem,
	md:  1.25rem,
	lg:  1.5rem,
	xl:  2.5rem,
	xxl:  4rem
) !default;

// Links
$link-color:                              $light-green;
$link-hover-color:	                      lighten($primary, 60%);
$link-hover-decoration:                   none !default;


// hr
$hr-width: 1px;
$hr-color: $light-green;

// app
$app-background-image: url("/images/svg/space-background.svg");
$app-background-color: darken($primary, 5%);

// underline
$underline-height: 1px;
$underline-transition: width .3s ease;

// content-wapper
$content-wrapper-background-color: #002935; 

// Sidebar
$sidebar-background-color: darken($primary, 6%);
$sidebar-width: 56px;
$sidebar-hover-width: 200px;
$sidebar-transition: width 0.2s ease 0s, opacity 0.8s ease 0s, box-shadow 0.1s linear 0.1s, background-color 0.3s ease 0s;
$sidebar-border-right: 1px solid rgb(20, 54, 62);
$sidebar-z-index: 100;

//================= Header
$header-height: 33px;
$header-background-color: rgb(0, 59, 74); 
$header-border-bottom: 1px solid rgb(0, 43, 54);

$main-entry-dot-color: $link-color;
$main-entry-dot-radius: 2px;
//================= Header end


// Footer
$footer-height: 20px;
$footer-background-color: rgb(6, 27, 32); 

// ===================== Banner 
$banner-height: 125px;
$banner-background-color: rgb(0, 59, 74);
$banner-border-bottom: 1px solid rgb(0, 43, 54);
$banner-vertical-hr-height: 40px;
$banner-section-content-hover-animation: 0.4s linear 0s 1 normal none running scale-fill-out;
$banner-section-content-hover-color: rgb(44, 180, 170);
$banner-tab-width: 80px;
$banner-tab-gap: 32px;
$banner-tab-text-color: $light;
$banner-tab-ink-bar-height: 2px;
$banner-tab-ink-bar-transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
// ===================== Banner  end

// =================== MAIN-CONTENT
$main-content-background-color: rgb(7, 45, 58); 
$main-content-margin-bottom: 10px;
$main-content-margin-top: 20px;
$main-content-min-height: calc(100% - #{$header-height} - #{$banner-height} - #{$footer-height} - #{$main-content-margin-top} - #{$main-content-margin-bottom});
$main-content-border-radius: 6px;
// =================== MAIN-CONTENT end

// =================== sign panel
$sign-panel-max-width: 550px;
$sign-panel-background-color: rgb(0, 38, 48);
$sign-panel-border: 1px solid rgb(0, 62, 79);
$sign-input-height: 58px;
// =================== sign panel end

// =================== VIEWER
$viewer-max-width: 1000px;
$viewer-transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
// =================== VIEWER END
