/*
Error: File to import not found or unreadable: normalize-scss.
        on line 3 of app.scss

1: // configuration
2: 
3: @import "normalize-scss";
4: @include normalize();
5: 
6: @import "functions";
7: @import "mixins";
8: @import "variables";

Backtrace:
app.scss:3
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/import_node.rb:44:in `import'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/zeeker/.rvm/gems/ruby-2.6.5/gems/sass-3.7.4/bin/scss:13:in `<top (required)>'
/Users/zeeker/.rvm/gems/ruby-2.6.5/bin/scss:23:in `load'
/Users/zeeker/.rvm/gems/ruby-2.6.5/bin/scss:23:in `<main>'
/Users/zeeker/.rvm/gems/ruby-2.6.5/bin/ruby_executable_hooks:24:in `eval'
/Users/zeeker/.rvm/gems/ruby-2.6.5/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: normalize-scss.\A         on line 3 of app.scss\A \A 1: // configuration\A 2: \A 3: @import \"normalize-scss\";\A 4: @include normalize();\A 5: \A 6: @import \"functions\";\A 7: @import \"mixins\";\A 8: @import \"variables\";"; }
