@mixin flex-box($justify: center, 
							$items: center, 
							$direction: row, 
							$wrap: nowrap,
							$align-content: stretch,
						){
	display: flex;
	justify-content: $justify;
	align-items: $items;
	flex-direction: $direction;
	flex-wrap: $wrap;
	align-content: $align-content;
}


@mixin circle($radius: 50px){
			width: $radius * 2;
			height: $radius * 2;
			line-height: $radius * 2;
			border-radius: 50%;
}
